@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: normal;
    font-size: 16px;
}

html {
    font-size: 62.5%;
    zoom: 1;
}

body,
table,
input,
textarea,
select,
option {
    font-family: "繝偵Λ繧ｮ繝手ｧ偵ざ Pro W3", "Hiragino Kaku Gothic Pro", "繝｡繧､繝ｪ繧ｪ", Meiryo;
    font-size: 1em;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

a:link {
    color: #383838;
    text-decoration: none;
}

a:visited {
    color: #383838;
}

a:hover {
    color: #383838;
}

a:active {
    color: #383838;
}

img {
    vertical-align: top;
}

body {
    color: #383838;
    line-height: 1.5;
    background-color: #ffffff;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

#container {
    background-color: #ffffff;
    z-index: 1;
    width: 99.8%;
}

#header {
    width: 100%;
}

#header h1 {
    text-align: left;
    font-size: .7em;
    padding-left: 10px;
    width: 98%;
}

#header .mh_logo {
    float: left;
    width: 38%;
}

#header .mh_tel {
    float: left;
    width: 38%;
    margin-left: 3%;
}

#header .mh_mail {
    margin-right: 1%;
    margin-left: 3%;
    float: left;
    width: 12%;
}

#header ul {
    margin: 0;
}

#header li a {
    display: inline-block;
    float: left;
    line-height: 0.1;
}

#header li.mh_logo a {
    text-align: left;
}

#header li.mh_tel a {
    padding: 5px 1px 0 0;
    line-height: 1.2;
    font-weight: bold;
    margin-left: 3%;
}

#header li.mh_tel a img {
    vertical-align: middle;
}

#header li.mh_tel span {
    display: inline-block;
    padding-left: 6px;
    color: #383838;
    font-size: 11px;
}

#header li.mh_mail a {
    padding: 5px 1px 0 0;
    line-height: 1.2;
}

.button {
    width: 26px;
    height: 26px;
    position: absolute;
    display: block;
    z-index: 1000;
    background: url(../../../m3/common/img/header/btn_menu.png) no-repeat left center;
    -webkit-background-size: 26px 26px;
    background-size: 26px 26px;
}

.menu-button-right {
    top: 33px;
    right: 15px;
    z-index: 699;
}

.menu-button-right a {
    display: none;
}

.slidemenu {
    background-color: #f49758;
}

.slidemenu li {
    list-style: none;
    border-bottom: 1px dotted #fff;
    font-size: 15px;
    line-height: 1.8;
}

.slidemenu li a {
    padding: 5px 0 5px 25px;
    display: block;
    font-size: 17px;
}

.slidemenu li:first-child {
    border-top: none;
}

.slidemenu li:last-child {
    padding-bottom: 20px;
    border-bottom: none;
}

.slidemenu .slidemenu-header {
    padding: 25px 27px 20px;
    position: relative;
    color: #fff;
    font-size: 32px;
    font-weight: bold;
}

.login_btn {
    display: inline-block;
    padding: 0px 15px;
    margin: 5px 12px 0px 5px;
    cursor: pointer;
    background: #5d87ec;
    border-radius: 6px;
    letter-spacing: 0.6px;
    float: right;
    height: 18px;
    text-align: center;
}

.logout_btn {
    display: inline-block;
    padding: 0px 15px;
    margin-top: 5px;
    cursor: pointer;
    background: #dccec1;
    border-radius: 6px;
    letter-spacing: 0.6px;
    float: right;
    height: 18px;
    text-align: center;
}

#mypage p {
    color: #FFF;
    font-size: 12px;
}

.welcome {
    float: left;
    width: 100%;
}

.welcome p {
    font-size: 12px;
}

.how_to_mypage {
    float: right;
    font-size: 10px;
    margin-right: 12px;
}

.slidemenu .slidemenu-header a {
    position: absolute;
    right: 20px;
    top: 25px;
}

#main {
    z-index: 1;
}

.slidemenu {
    top: 0;
    width: 225px;
    position: fixed;
    visibility: hidden;
    z-index: -1;
}

.slidemenu .slidemenu-header {
    position: relative;
}

.slidemenu .slidemenu-body {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slidemenu .slidemenu-body .slidemenu-content {
    position: relative;
}

.slidemenu-left {
    left: 0;
}

.slidemenu-right {
    right: 0;
}

#gNavi {
    width: 100%;
    border-right: none;
    display: -webkit-box;
    display: -moz-box;
    padding-top: 7px;
}

#gNavi li {
    border-right: 1px solid #D8CDBF;
    width: 19%;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    text-align: center;
}

#gNavi li:first-child {
    border-left: 1px solid #D8CDBF;
}

#gNavi li a,
#gNavi li p {
    margin-top: 3px;
    display: block;
    color: #383838;
    text-decoration: none;
}

#gNavi li a img,
#gNavi li p img {
    vertical-align: top;
}

#gNavi li span {
    display: block;
    text-decoration: none;
    font-size: 12px;
}

#gNavi li a:hover,
#gNavi li p:hover {
    text-decoration: none;
}

#gNaviMenu div {
    display: none;
}

#gNaviMenu div .linkList {
    overflow: hidden;
}

#gNaviMenu div .linkList li {
    height: 70px;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEE));
    border: 1px solid #DDD;
    font-size: 1em;
    box-shadow: 1px 1px 3px #888;
}

#gNaviPulldown .pull02 td,
#main .pull02 td {
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEE));
    border: 1px solid #DDD;
    text-align: center;
    font-size: 1em;
    box-shadow: 1px 1px 2px #888;
}

#gNaviMenu div .linkList li a {
    width: 100%;
    height: 100%;
    display: table;
    table-layout: fixed;
    position: relative;
    font-size: 18px;
    line-height: 4;
    text-indent: 4em;
    letter-spacing: 0.1em;
}

#gNaviMenu div .linkList li a:before {
    margin-top: -7px;
    width: 11px;
    height: 13px;
    background: url(/m3/common/img/ico/css_sprit.png) no-repeat -83px -48px;
    -webkit-background-size: 220px 200px;
    background-size: 220px 200px;
    position: absolute;
    top: 50%;
    right: 40px;
    content: "";
}

#gNaviMenu div .feelList li a {
    text-indent: 0.2em;
}

#gNaviMenu div .feelList li img {
    vertical-align: middle;
    width: 55px;
    height: 55px;
}

#gNaviMenu div .feelList .reo img {
    vertical-align: middle;
    width: 46px;
    height: 46px;
    margin-left: 7px;
    margin-right: 7px;
}


}
#gNaviMenu div .feelList li span {
    display: table-cell;
    vertical-align: middle;
}
#gNaviMenu div .feelList li a .photo {
    width: 18%;
}
#gNaviMenu div .feelList li a .text {
    width: 80%;
    font-size: 18px;
}
#gNaviMenu div .feelList li a:before {
    right: 20px;
}
#gNaviMenu div .planList li a {
    text-indent: 0.2em;
}
#gNaviMenu div .planList li img {
    vertical-align: middle;
    width: 55px;
    height: 55px;
}

}
#gNaviMenu div .planList li span {
    display:table-cell;
    vertical-align:middle;
}
#gNaviMenu div .planList li a .photo {
    width:18%;
}
#gNaviMenu div .feelList .reo a .photo {
    width: 17%;
}
#gNaviMenu div .planList li a .text {
    width:80%;
    font-size:18px;
}
#gNaviMenu div .planList li a:before {
    right:20px;
}
#gNaviMenu div .makeList li a {
    text-indent:0.2em;
}
#gNaviMenu div .makeList li img {
    vertical-align:middle;
    width:55px;
    height:55px;
}
#gNaviMenu div .makeList li a span {
    display:table-cell;
    vertical-align:middle;
}
#gNaviMenu div .makeList li a .photo {
    width:18%;
}
#gNaviMenu div .makeList li a .text {
    width:80%;
    font-size:18px;
}
#gNaviMenu div .makeList li a:before {
    right:20px;
}
#gNaviPulldown {
    display:none;
}
#gNaviPulldown table,
#main .pull01 {
    width:100%;
}
#gNaviPulldown table img {
    width:50px;
    vertical-align:baseline;
}
#gNaviPulldown table td,
#main .pull01 td {
    position:relative;
    width:33%;
    height:77px;
}
#gNaviPulldown table td a,
#main .pull01 td a {
    display:block;
}
#gNaviPulldown table td a p {
    margin-top:-2px;
    font-size:12px;
    color:#383838;
    line-height:1.2;
}
#gNaviPulldown table .small img {
    width:40px;
}
#gNaviPulldown table .small p {
    margin-top:-6px;
}
#gNaviPulldown .gnavi_t-shirts {
    position:absolute;
    top:8px;
    left:35%;
}
#gNaviPulldown .gnavi_t-shirts img {
    vertical-align:middle;
}
#gNaviPulldown .gnavi_t-shirts span {
    display:inline-block;
    margin:20px 0 0 20px;
}
#gNaviPulldown .fif {
    width:49%;
}
.open {
    background:#EEEEEE;
}
#main .pull01 img {
    width:40%;
    margin-top:5px;
}
#main .pull01 td a p {
    font-size:12px;
    color:#383838;
    margin-bottom:4px;
}
#main {
    width:100%;
    position:relative;
    overflow:hidden;
    margin-top:5px;
}
#gFooter {
    margin-top:10px;
}
#gFooter ul {
    list-style:none;
}
#gFooter li {
    position:relative;
    float:left;
    width:50%;
    text-align:center;
    vertical-align:middle;
}
#gFooter li a {
    display:block;
}
#gFooter .copyright {
    clear:both;
    text-align:center;
    font-size:0.7em;
    padding-top:15px;
}
#ui-datepicker-div {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0 10px;
    width:100%;
    border:none;
    background:none;
    left:0 !important;
}
#ui-datepicker-div .ui-datepicker-header {
    padding:.2em;
    background-color:#FFF;
    -moz-border-radius:2px 2px 0 0;
    -webkit-border-radius:2px 2px 0 0;
    border-radius:2px 2px 0 0;
    border-bottom:none;
}
#ui-datepicker-div .ui-datepicker-title {
    margin:0;
    padding:0 2.3em;
    background-color:#DDD;
    border:1px solid #dddddd;
    border-bottom:none;
}
#ui-datepicker-div span.ui-icon.ui-icon-circle-triangle-w,
#ui-datepicker-div span.ui-icon.ui-icon-circle-triangle-e {
    margin-top:-6px;
}
#ui-datepicker-div .ui-datepicker-calendar {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:.2em;
    padding-top:0;
    background-color:#FFF;
    border:1px solid #dddddd;
    border-top:none;
    border-collapse:separate;
}
#main .carouselSlider {
    overflow:hidden !important;
}
#main .carouselSlider .swiper-wrapper {
    width:100%;
}
#header.head2 {
    height:45px;
    padding:8px 10px;
    display:block;
}
.bgGradation {
    border:2px solid #F6F6F6;
    border-radius:10px;
    background:#ffffff;
    background:-moz-linear-gradient(-45deg, #ffffff 0%, #f1f1f1 58%, #f1f1f1 58%, #e1e1e1 84%, #f6f6f6 94%);
    background:-webkit-linear-gradient(-45deg, #ffffff 0%, #f1f1f1 58%, #f1f1f1 58%, #e1e1e1 84%, #f6f6f6 94%);
    background:linear-gradient(135deg, #ffffff 0%, #f1f1f1 58%, #f1f1f1 58%, #e1e1e1 84%, #f6f6f6 94%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=1);
    box-shadow:3px 3px 3px rgba(0, 0, 0, 0.2);
}
