@charset "euc-jp";

/*------------------------------------------------------------

File_name	: style.css
log			: 2013-07-26	created

-------------------------------------------------------------- */


/*		common
===============================================================*/

h2 {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 125%;
    color: #777;
    font-weight: bold;
    border-left: 3px solid #f1930f;
    padding-left: 7px;
}

.contents .section h2#topttl {
    text-align: center;
    font-size: 24px;
    display: block;
    background-color: #ff9135;
    height: 35px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 20px;
    color: #ffffff;
}

.section {
    width: 610px;
    margin: 20px auto 50px;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
}

.topsec {
    overflow: hidden;
    border-color: #ff0000;
    padding: 10px 10px 0px 30px;
    width: 630px;
}

.clearfix .section {
    float: left;
    width: 250px;
    margin: 20px 25px 50px;
}

.section .inner {
    padding: 15px 10px;
}

.section p {
    margin-bottom: 1em;
    clear: both;
}

.section ul li:first-child {
    display: inline-block;
    float: left;
    width: 55%;
}

.section ul li {
    display: inline-block;
    float: left;
    width: 28%;
}

.section ul li.mms {
    display: inline-block;
    float: left;
    width: 3%;
    margin: 3px;
    height: 25px;
}

.section ul li.mms:first-child {
    display: inline-block;
    float: left;
    width: 45%;
    margin: 3px;
    color: #ff0000;
    height: 25px;
}

.section ul li.mms:last-child {
    display: inline-block;
    float: left;
    width: 40%;
    margin: 3px;
    color: #ff0000;
    font-weight: bold;
    height: 25px;
}

.section ul li.mms .addttl {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left: 10px solid #f00;
    float: left;
    display: inline;
}

.section .addtxt {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.section ul li.mms p {
    padding-bottom: 5px;
    font-size: 16px;
}

.section ul.usertop {
    text-align: center;
    border: 1px solid #ff0000;
    height: 30px;
    padding: 10px 0 0 50px;
    width: 70%;
    font-weight: bold;
    margin: 0 auto;
}

.section ul.nonborder {
    border: none;
    padding: 5px 0 0 20px;
}

.f-small {
    font-size: 85%;
}

.anchor_arrow {
    vertical-align: middle;
}

.contents .cretxt {
    margin: 0px 25px 20px 60px;
    width: 670px;
}


/*		forms
===============================================================*/


/* type PC */

.form_table {
    width: 100%;
    margin-top: 10px;
    border: 1px solid #e0e0e0;
}

.form_table tbody th,
.form_table tbody td {
    padding: 5px;
    background: #FFF;
    border-left: 1px dashed #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 2px #fff;
}

.form_table tbody td:first-child {
    white-space: nowrap;
}

.form_table thead th {
    font-weight: bold;
    color: #4e2210;
    background: #eae7d2;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #e0e0e0;
}

.form_table tbody th {
    font-weight: bold;
    color: #4e2210;
    background: #FFF;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
}

#history_table tbody th {
    font-weight: bold;
    color: #4e2210;
    background: #f3f4f2;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
}

.form_table thead th:first-child {
    border-left: 1px solid #e0e0e0;
}

.form_table tfoot th,
.form_table tfoot td {
    font-weight: bold;
    background: #f8f8f8;
}

.form_table tfoot tr:first-child th,
.form_table tfoot tr:first-child td {
    padding-top: 1.5em;
}

.form_table tbody th {
    /*text-align: left;*/
    font-weight: bold;
}

.form_table tbody th ins {
    font-weight: bold;
    color: #c33;
}

.form_table input[type="text"],
.form_table input[type="email"],
.form_table input[type="number"],
.form_table input[type="tel"],
.form_table input[type="date"],
.form_table input[type="password"],
textarea {
    padding: 5px 0;
}

textarea {
    width: 290px;
    height: 5em;
    scroll: auto;
}


/* テキストフィールドのフォーカスの背景色 */

.form_table input[type="text"]:focus,
.form_table input[type="email"]:focus,
.form_table input[type="number"]:focus,
.form_table input[type="tel"]:focus,
.form_table input[type="date"]:focus,
.form_table input[type="password"]:focus,
.form_table textarea:focus,
.active {
    background: #e5f6fd;
}


/* n???????????...?? */

.form_table tbody td ins.small {
    padding-left: .3em;
    font-size: 80%;
}


/* 入力項目の幅 */

.form_table .wide {
    width: 290px;
}

.form_table .normal {
    width: 200px;
}

.form_table .half {
    width: 135px;
}

.forZip {
    width: 70px;
    text-align: center;
}


/* type mobile */

.form_m {
    width: 100%;
}

.form_m .lbl {
    padding: 5px 15px;
    font-weight: bold;
    background: #f3f3f3;
    border-top: 1px solid #e0e0e0;
    box-shadow: 0 2px #fff inset;
}

.form_m .lbl ins,
.form_m .lbl span {
    display: inline-block;
    padding: 2px 5px;
}


/* 必須 */

.form_m .lbl ins {
    margin-left: 2em;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    background: #ff5959;
    border: 1px solid #e66;
    border-radius: 5px;
}

.form_m .wrap {
    padding: 5px 15px;
    border-top: 1px solid #e0e0e0;
    box-shadow: 0 2px #fff inset;
}

.form_m input[type="text"],
.form_m input[type="email"],
.form_m input[type="password"] {
    width: 98%;
}

.form_m textarea {
    width: 98%;
    height: 5em;
    scroll: auto;
}

.form_m input[type="text"],
.form_m input[type="email"],
.form_m input[type="number"],
.form_m input[type="tel"],
.form_m input[type="date"],
.form_m input[type="password"],
.form_m textarea {
    padding: 5px 0;
}


/* sumbit */

.form_m .submit {
    margin: 10px 0;
    text-align: center;
}

.form_m input[type="submit"] {
    padding: 5px 20px;
    font-size: 18px;
}


/* number */

input[type="number"],
input[type="tel"],
input[type="date"] {
    text-align: center;
}


/* テキストフィールドのフォーカスの背景色 */

.form_m input[type="text"]:focus,
.form_m input[type="email"]:focus,
.form_m input[type="number"]:focus,
.form_m input[type="tel"]:focus,
.form_m input[type="date"]:focus,
.form_m input[type="password"]:focus,
.form_m textarea:focus,
.active {
    background: #e5f6fd;
}


/* 必須の未入力 */

.invalid {
    background-color: #ffc0cb;
}


/* error */

.err {
    color: #c33;
}


/* table extend */

.form_table tfoot td {
    font-weight: normal;
    border-bottom: 1px dashed #ddd;
}

.form_table tfoot tr.foot_total td {
    font-size: 125%;
}

.form_table tfoot .base,
.form_table tfoot .tax,
.form_table tfoot .credit,
.form_table tfoot .tot,
.form_table tfoot .per {
    text-align: right;
}

.form_table tfoot .tot {
    font-weight: bold;
    color: #003f75;
}


/* ??????? */

#history_table {
    margin-bottom: 100px;
}

#detail_item,
#detail_print {
    margin-bottom: 50px;
}

#history_table tbody td p {
    border-top: 1px dashed #ddd;
    margin-top: 4px;
    padding-top: 4px;
}

#history_table tbody td p:first-child {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
}

#history_table input[type="button"] {
    margin: 2px;
    font-size: 80%;
}

#history_table input[type="button"].show_detail {
    margin: 0 0 0 5px;
    padding: 1px 2px;
    font-size: 80%;
}

#detail_print .pos_wrap {
    position: relative;
    width: 190px;
    padding-left: 5px;
    margin: 0 auto;
}


/*		?????????????
===============================================================*/

#printform {
    width: 820px;
    overflow: hidden;
    border: none;
}

#printform_wrapper {
    display: none;
    overflow: hidden;
}


/*		tool bar
===============================================================*/

.toolbar {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding-bottom: 30px;
    background: url(/common/img/dotted.png) repeat-x bottom;
    z-index: 1000;
    margin-top: 20px;
}

.toolbar .toolbar_inner {
    height: 48px;
    /*
    border-right: 1px solid #e0ddd5;
    border: 1px solid #bbb;
    box-shadow: 0 2px 2px rgba(204,204,204,0.4);
    */
}

.toolbar .toolbar_inner .menu_wrap {
    float: right;
    border-right: 1px solid #e0ddd5;
    width: 100%;
}

.toolbar .toolbar_inner h1 {
    display: inline;
    margin-left: 15px;
}

.toolbar .toolbar_inner .menu {
    float: left;
    position: relative;
    width: 19.7%;
    height: 48px;
    border-left: 1px solid #e0ddd5;
    box-shadow: 2px 0 #fff inset;
    /*background: #f9f9f9;*/
}

.toolbar .toolbar_inner .menu .pull {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 48px;
    /*border-bottom: 1px solid #e0ddd5;*/
    overflow: hidden;
}

.toolbar .toolbar_inner .menu .pull li {
    box-shadow: 0px 2px #fff inset;
    border-bottom: 1px solid #e0ddd5;
    background: #fffdfc;
    /*border-top: 1px solid #e0ddd5;*/
    /*background: #f9f9f9;*/
}

.toolbar .toolbar_inner .menu span,
.toolbar .toolbar_inner .menu a {
    display: block;
    height: 48px;
    line-height: 48px;
    text-decoration: none;
    text-align: center;
    color: #803300;
    font-size: 0.8em;
}

.toolbar .toolbar_inner .menu span {
    color: #333;
}

.toolbar .toolbar_inner .menu .pull li:first-child span,
.toolbar .toolbar_inner .menu > span,
.toolbar .toolbar_inner .menu a {
    color: #803300;
    background: #fffaf6;
    border: 1px solid #fff;
}

.toolbar .toolbar_inner .menu > span:hover,
.toolbar .toolbar_inner .menu a:hover {
    color: #803300;
    background: #ffd4af;
    /*#66adf4;*/
    cursor: pointer;
}


/* reload */

.toolbar_inner .reload {
    color: #ddd;
}

.toolbar_inner .reload:hover {
    color: #803300;
    text-decoration: underline;
    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
}

.toolbar_inner .reload img {
    padding: 9px 5px;
}


/* login username */

.toolbar_inner .uname {
    float: right;
    margin-right: 1em;
    line-height: 48px;
}


/*		製作の進行状況
===============================================================*/

.progress_wrap {
    width: 700px;
    margin: 10px auto 30px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
}

.progress_bar {
    height: 4em;
}

.progress_bar li {
    float: left;
    width: 140px;
    line-height: 4em;
    color: #777;
}

.progress_bar li p {
    display: block;
    padding: 0 20px 0 0;
    line-height: 4em;
    text-align: center;
    font-weight: bold;
    color: #777;
    background: url('../img/crumbs.png') no-repeat right center;
}

.progress_bar li.actlist {
    background: #c3d950;
}

.progress_bar li p.act {
    color: #333;
    background: #c3d950 url('../img/crumbs_act.png') no-repeat right center;
}

.progress_bar li p.bef {
    color: #333;
    background: #c3d950 url('../img/crumbs_bef.png') no-repeat right center;
}

.progress_bar li p.pas {
    color: #333;
    background: #c3d950 url('../img/crumbs_pass.png') no-repeat right center;
}

p.note.tor {
    font-weight: bold;
}

div.inner1 {
    margin-bottom: 50px;
}


/* ???????|´??? */

.orders_list {
    margin: 1em 0 0 2.5em;
}

.orders_list li {
    list-style: decimal;
}

#description {
    width: 100%;
    margin-top: 10px;
    border: 1px solid #e0e0e0;
}


/*		?????§3???
===============================================================*/

#overlay {
    position: fixed;
    top: -50px;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: auto;
    display: none;
    background: #666666 url(../img/overlay_back_20_666666_40x40.png) 50% 50% repeat;
    z-index: 1010;
}


/*-- mypage bar --*/

#header #mypage {
    height: 20px;
    width: 200px;
    position: absolute;
    top: -25px;
    right: 130px;
    z-index: 10000;
}

#header #mypage p {
    float: right;
    display: inline-block;
    padding: 1px 20px;
    font-size: 80%;
    margin-bottom: 63px;
}

#header #mypage p a {
    color: #4173F2;
}

#header #mypage p img {
    vertical-align: middle;
    margin-right: 3px;
}

#header #mypage p.toc {
    position: absolute;
    top: 100px;
    right: -22px;
    width: 200px;
}

.contents .lightbox {
    display: none;
}

.fl-page h1,
.fl-page h3,
.fl-page h4 {
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
}

.fl-page h1 {
    font-size: 110px;
    margin-bottom: 0.5em;
}

.fl-page h1 i {
    font-style: normal;
    color: #ddd;
}

.fl-page h1 span {
    font-size: 30px;
    color: #333;
}

.fl-page h3 {
    text-align: right;
}

.fl-page h3 {
    font-size: 15px;
}

.fl-page h4 {
    font-size: 2em;
}

.fl-page .jumbotron {
    margin-top: 2em;
}

.fl-page .doc {
    margin: 2em 0;
}

.fl-page .btn-download {
    float: right;
}

.fl-page .btn-default {
    vertical-align: bottom;
}

.fl-page .btn-lg span {
    font-size: 0.7em;
}

.fl-page .footer {
    margin-top: 3em;
    color: #aaa;
    font-size: 0.9em;
}

.fl-page .footer a {
    color: #999;
    text-decoration: none;
    margin-right: 0.75em;
}

.fl-page .github {
    margin: 2em 0;
}

.fl-page .github a {
    vertical-align: top;
}

.fl-page .marketing a {
    color: #999;
}


/* override default feather style... */

.fixwidth {
    background: rgba(256, 256, 256, 0.8);
}

.fixwidth .featherlight-content {
    width: 500px;
    padding: 25px;
    color: #fff;
    background: #111;
}

.fixwidth .featherlight-close {
    color: #fff;
    background: #333;
}

.btn-default {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    padding: 3px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    display: block;
    width: 180px;
    text-align: center;
    margin: 0 50px;
    position: relative;
    left: 460px;
    top: -30px;
    text-decoration: none;
    color: #000;
}

/*--------------------------------------- 2017-2-14 ------------------------------------------*/ @media screen and (max-width: 768px) {
    /*------------------MENU------------------*/
    .fl-page h1 span {
        display: block;
    }
    .fl-page .btn-download {
        float: none;
        margin-bottom: 1em;
    }
    .contents .section h2#topttl {
        text-align: center;
        font-size: 18px;
        display: block;
        background-color: #ff9135;
        height: 35px;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 20px;
        border-radius: 20px;
        color: #ffffff;
        padding-top: 10px;
        font-weight: normal;
    }
    .toolbar .toolbar_inner .menu_wrap {
        float: right;
        border-right: 1px solid #e0ddd5;
        width: 100%;
    }
    .toolbar .toolbar_inner h1 {
        display: inline;
        margin-left: 15px;
    }
    .section .addtxt {
        width: 95%;
        margin: 0 auto;
        margin-bottom: 10px;
        text-align: left;
    }
    .section ul.usertop {
        text-align: center;
        border: 1px solid #ff0000;
        padding: 10px 0 0 30px;
        width: 70%;
        font-weight: bold;
        margin: 0 auto;
        display: table;
    }
    .section ul li.mms:first-child {
        display: inline-block;
        float: none;
        width: 100%;
        margin: 3px;
        color: #ff0000;
        height: 25px;
        text-align: center;
        padding-left: 20px;
    }
    .toolbar .toolbar_inner .menu {
        /*	float: right; */
        position: relative;
        width: 100%;
        height: 100%;
        border-left: 1px solid #e0ddd5;
        box-shadow: 2px 0 #fff inset;
        /*background: #f9f9f9;*/
    }
    .toolbar .toolbar_inner #menu1 {
        width: 48%;
    }
    .toolbar .toolbar_inner #menu2 {
        width: 32%;
    }
    .pagetitle {
        margin-top: 100px;
    }
    .clearfix .section {
        float: left;
        width: 100%;
        margin: 0px;
    }
    .toolbar {
        background: none;
    }
    /*------------------TABLE------------------*/
    .section {
        width: 90%;
        border: 1px solid #ddd;
        border-radius: 5px;
        background: #fff;
        padding: 0px;
        overflow: visible;
        padding: 10px;
    }
    .section p {
        text-align: left;
        margin-bottom: 10px;
    }
    .section ul li {
        display: inline-block;
        float: none;
        width: 100%;
        text-align: left;
    }
    .section ul.nonborder {
        border: none;
        padding: 5px 0;
    }
    .section ul li.mms:last-child {
        display: inline-block;
        float: none;
        width: 100%;
        margin: 3px 0 3px 15px;
        color: #ff0000;
        font-weight: bold;
        height: 25px;
    }
    .section ul li:first-child {
        display: inline-block;
        float: none;
        width: 100%;
    }
    #list_itemname {
        width: 100%;
    }
    .form_table tbody th,
    .form_table tbody td {
        padding: 0px;
        background: #FFF;
        border-left: 1px dashed #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
        box-shadow: 0 2px #fff;
    }
    .form_table tbody th {
        font-weight: bold;
        color: #4e2210;
        background: #fff;
        border-left: 1px solid #fff;
        border-bottom: 1px solid #e0e0e0;
        text-align: center;
    }
    #history_table {
        margin-bottom: 0px;
    }
    #history_table tbody th {
        font-weight: bold;
        color: #4e2210;
        background: #f3f4f2;
        border-left: 1px solid #fff;
        border-bottom: 1px solid #e0e0e0;
        text-align: center;
    }
    #description {
        width: 100%;
        margin-top: 10px;
        border: 1px solid #e0e0e0;
    }
    .form_table tfoot tr:first-child th,
    .form_table tfoot tr:first-child td {
        padding-top: 0px;
    }
    .contents .cretxt {
        margin: 0px;
        width: 100%;
    }
    #sec_menu {
        padding: 30px;
    }
    .form_table tbody td:first-child {
        white-space: normal;
    }
    /*------------------Progress------------------*/
    .progress_bar li p {
        display: block;
        /*padding: 0 20px 0 0;*/
        line-height: 4em;
        text-align: center;
        font-weight: bold;
        color: #777;
        background: url('../img/crumbs.png') no-repeat right center;
        font-size: 8px;
        white-space: nowrap;
    }
    .progress_wrap {
        width: 100%;
        margin: 10px auto 30px;
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background: #fff;
    }
    .progress_bar li {
        float: left;
        width: 20%;
        line-height: 4em;
        color: #777;
    }
    .section ul li.mms {
        display: inline-block;
        float: left;
        width: 3%;
        margin: 3px;
        height: 25px;
        display: none;
    }
    .modal-content {
        width: 90%;
        margin: 0 auto;
        background: #fff;
        padding: 10px;
    }
    #demo01 {
        -webkit-appearance: textfield;
        background-color: white;
        -webkit-rtl-ordering: logical;
        user-select: text;
        cursor: auto;
        padding: 3px;
        border-width: 2px;
        border-style: inset;
        border-color: initial;
        border-image: initial;
        display: block;
        width: 180px;
        text-align: center;
        margin: 0 auto;
        position: relative;
        left: auto;
        top: -30px;
        text-decoration: none;
        color: #000;
    }
    .section {
        width: 95%;
        margin: 20px auto 50px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background: #fff;
    }
    .contents .cretxt {
        margin: 0px 10px 20px;
        width: 95%;
    }
    .btn-group {
        width: 100%;
        margin-bottom: 30px;
    }
    .btn-default {
        margin: 0 auto;
        position: static;
    }
}